*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    transition:0.3s ease;
}

body{
    font-family:Arial, sans-serif;

    min-height:100vh;

    display:flex;
    justify-content:center;
    align-items:flex-start;

    padding:60px 20px;

    color:white;

    background: linear-gradient(
        135deg,
        #111111,
        #1f2937
    );
}

.container{

    width:100%;
    max-width:550px;

    background:rgba(255,255,255,0.05);

    border:1px solid rgba(255,255,255,0.08);

    backdrop-filter:blur(12px);

    border-radius:24px;

    padding:35px;

    box-shadow:0 10px 40px rgba(0,0,0,0.4);
}

h1{
    text-align:center;

    font-size:42px;

    margin-bottom:10px;
}

.subtitle{
    text-align:center;

    color:#9ca3af;

    margin-bottom:30px;

    font-size:15px;
}

.task-input{

    display:flex;

    gap:12px;

    margin-bottom:25px;
}

.task-input input{

    flex:1;

    padding:16px;

    border:none;

    outline:none;

    border-radius:14px;

    background:#1e293b;

    color:white;

    font-size:16px;
}

.task-input input::placeholder{
    color:#94a3b8;
}

.task-input button{

    padding:16px 22px;

    border:none;

    border-radius:14px;

    background:#3b82f6;

    color:white;

    cursor:pointer;

    font-size:15px;

    font-weight:bold;
}

.task-input button:hover{

    background:#2563eb;

    transform:translateY(-2px);
}

.stats{

    display:grid;

    grid-template-columns:1fr 1fr;

    gap:15px;

    margin-bottom:25px;
}

.stat-box{

    background:#1e293b;

    padding:18px;

    border-radius:16px;

    text-align:center;
}

.stat-box span{

    color:#9ca3af;

    font-size:14px;
}

.stat-box h3{

    margin-top:8px;

    font-size:28px;
}

#tasksContainer{

    display:flex;

    flex-direction:column;

    gap:14px;
}

.task{

    background:#1e293b;

    padding:16px 18px;

    border-radius:16px;

    display:flex;

    justify-content:space-between;

    align-items:center;
}

.task-text{

    cursor:pointer;

    font-size:16px;
}

.completed .task-text{

    text-decoration:line-through;

    opacity:0.5;
}

.task-actions{

    display:flex;

    gap:10px;
}

.delete-btn{

    border:none;

    background:#ef4444;

    color:white;

    padding:10px 14px;

    border-radius:10px;

    cursor:pointer;
}

.delete-btn:hover{

    background:#dc2626;
}

.clear-btn{

    width:100%;

    margin-top:25px;

    border:none;

    background:#f59e0b;

    color:white;

    padding:15px;

    border-radius:14px;

    cursor:pointer;

    font-size:15px;

    font-weight:bold;
}

.clear-btn:hover{

    background:#d97706;
}

@media(max-width:600px){

    .task-input{
        flex-direction:column;
    }

    .task-input button{
        width:100%;
    }

    .stats{
        grid-template-columns:1fr;
    }

    h1{
        font-size:34px;
    }

}